<mat-toolbar color="primary">
    <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
    </button>
    Rabbit Resources
    <span fxFlex></span>
    <div *ngIf="user">
        <button mat-button [matMenuTriggerFor]="userMenu">
            <span> {{ user.displayName }} </span>
            <mat-icon>keyboard_arrow_down</mat-icon>
        </button>
        <mat-menu #userMenu="matMenu">
            <button mat-menu-item (click)="logout()"> Sign out </button>
        </mat-menu>
    </div>
    <div *ngIf="!user">
        <button mat-button (click)="login()">
            <span>Login</span>
            <mat-icon>account_circle</mat-icon>
        </button>
    </div>
</mat-toolbar>
<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
        [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="!(isHandset$ | async)">
        <mat-nav-list>
            <a mat-list-item routerLink="/employees">
                <mat-icon class="navicon">contacts</mat-icon>
                Employees
            </a>
            <a mat-list-item routerLink="/leave">
                <mat-icon class="navicon">event</mat-icon>
                Leave
            </a>
            <a mat-list-item routerLink="/time-sheets">
                <mat-icon class="navicon">date_range</mat-icon>
                Time sheets
            </a>
            <a mat-list-item routerLink="/lunch">
                <mat-icon class="navicon">restaurant</mat-icon>
                Lunch
            </a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>