<mat-toolbar color="primary">Rabbit Resources
    <span fxFlex></span>
    <div *ngIf="user">
        <button mat-button [matMenuTriggerFor]="userMenu">
            <span> {{ user.displayName }} </span>
            <mat-icon>keyboard_arrow_down</mat-icon>
        </button>
        <mat-menu #userMenu="matMenu">
            <button mat-menu-item (click)="logout()"> Sign out </button>
        </mat-menu>
    </div>
    <div *ngIf="!user">
        <button mat-button (click)="login()">
            <span>Login</span>
            <mat-icon>account_circle</mat-icon>
        </button>
    </div>
</mat-toolbar>
<router-outlet></router-outlet>